@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ubuntu', sans-serif;
}

body {
  background-image: url(assets/bgi.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container {
  backdrop-filter: blur(1px);
  width: 100vw;
}

.clock {
  color: wheat;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}