@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

* {
  font-family: 'ubuntu', sans-serif;
}


.card {
  border: 1px solid rgb(193, 193, 193);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 70%;
  height: auto;
  border-radius: 50%;

}

.card .card-text {
  color: hsl(0, 0%, 30%);
}